/*
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Gudea', sans-serif;
*/

html {
	font-family: 'Gudea', sans-serif;
}

h1 {
	font-family: Arial;
	font-size: 400%;
}

#content {
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
}

section {
	font-size: 130%;
}

header {}

footer {}