/*
font-family: 'Raleway', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Gudea', sans-serif;
*/

html {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: Arial;
	font-size: 400%;
}

#content {
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
}

main {
	padding: 40px 0px 40px 0px;
	font-size: 130%;
}

header {}

footer {
	padding-top: 40px;
}

hr {
	height: 1px;
    color: #bbb;
    background: #bbb;
    font-size: 0;
    border: 0;
}

a, #header-underscore {
	color: #1E90FF;
}

#header-underscore {
	font-size: 70%;
	padding-right: 10px;
}