html {
  font-family: 'Raleway', sans-serif;
}

header {
  padding-bottom: 18px;
}

main {
  padding: 18px 0px 40px 0px;
  font-size: 18px;
  line-height: 32px;
}

hr {
  height: 2px;
  color: #ddd;
  background: #ddd;
  font-size: 0;
  border: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

.description {
  text-align: justify;
}

.header-title {
  font-family: Arial;
  font-size: 80px;
}

.header-subtitle {
  color: rgba(150, 150, 150, 0.8);
}

.header-prefix {
  font-weight: 400;
  color: rgba(200, 200, 200, 0.3);
}

.header-subfix {
  color: orange;
}

thead {
  font-weight: bold;
}

td {
  font-size: 16px;
  padding: 9px 7px 9px;
  background-color: rgba(220, 220, 220, 0.4);
}

td a {
  text-decoration: none;
}